<div class="post">
    <div class="content">
        <div class="title"><h3><a href="{{permalink}}">{{ page.title}}</a></h3></div>
        {{#date}}
        <div class="meta">
            <span class="date">{{ page.date | date_to_string }}</span>

            {% if page.location %}{{ page.location }}{% endif %}
        </div>
        {{/date}}
        <div class="body-post">
            {{content}}
            <!-- if tags -->
            {{#if_tags}}
            <!-- <ul class="tags"> -->
            <!--     {{#tags}} -->
            <!--     <li><a href="{{base_url}}/tag/{{name}}">{{name}}</a></li> -->
            <!--     {{/tags}} -->
            <!-- </ul>   -->
            {{/if_tags}}
            <!-- endif -->
        </div><!--end body-->
    </div><!--end content-->
    <div class="clear"></div>
</div><!--end post-->

{% include JB/comments %}
