/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;

  /* font-family:"Proxima Nova Regular", 'Helvetica Neue', Arial, Helvetica, sans-serif;  */
  /* font-size-adjust:0.488;  */
  /* font-weight:normal;  */

  font-size: 16px;
  padding: 0 40px;
  text-align: center;
}

      h1, h2, h3, h4, h5, h6 {
        font-size: 100%;
      }

      h1 {
        margin-bottom: 1em;
      }

      p {
        margin: 1em 0;
      }

      a {
        /* color: #00a; */
      }

      a:hover {
        color: black;
        text-decoration: underline;
      }

      table {
        border-collapse: collapse;
        border-spacing: 0;
        display: block;
        font-size: inherit;
        font: 100%;
        margin: 15px 0;
      }
      td, th {
        border: 1px solid #ccc;
        padding: 6px 13px;
        
      }
      th {
        font-weight: bold;
      }
      table tr:nth-child(2n) {
        background-color: #f8f8f8;
      }

      /*****************************************************************************/
      /*
      /* Home
      /*
      /*****************************************************************************/

      ul.posts {
        list-style-type: none;
        margin-bottom: 2em;
      }

      ul.posts li {
        line-height: 1.75em;
      }

      ul.posts span {
        color: #aaa;
      }

      /*****************************************************************************/
      /*
      /* Site
      /*
      /*****************************************************************************/

      .site {
        /* font-size: 110%; */
        text-align: left;
        width: 50em;
        margin: 3em auto 2em auto;
        line-height: 1.5em;
      }

      .title {
        color: #a00;
        font-weight: bold;
        margin-bottom: 2em;
      }

      .site .title a {
        text-decoration: underline;
      }

      .site .title a:hover {
        text-decoration: none;
      }

      .site .title a.extra {
        color: #5691CD;
        font-weight: normal;
        text-decoration: underline;
      }

      .site .title a.extra:hover {
        color: black;
      }

      /* .site .meta { */
      /*   color: #aaa; */
      /* } */

      .site .footer {
        clear: both;
        color: #666;
        border-top: 4px solid #eee;
        margin-top: 2em;
        padding-bottom: 2em;
        overflow: hidden;
      }

      .site .footer .contact {
        float: left;
        margin-right: 3em;
      }

      .site .footer .contact a {
        color: #8085C1;
      }

      .site .footer .rss {
        margin-top: 1.1em;
        margin-right: -.2em;
        float: right;
      }

      .site .footer .rss img {
        border: 0;
      }

      /*****************************************************************************/
      /*
      /* Posts
      /*
      /*****************************************************************************/

      #post {
        max-width: 700px;
      }

      /* standard */

      code {
        /* background-color: #b5fcf8; teal */
        background-color: #efefef;
        color: #666;
        border: 1px solid #ddd;
        font-size: 15px;
        -webkit-border-radius:3px;
        -moz-border-radius:3px;
        -ms-border-radius:3px;
        -o-border-radius:3px;
        border-radius:3px;
        padding: 0 .2em;
        white-space: nowrap;
      }

      /* terminal */

      #post pre.terminal {
        border: 1px solid black;
        background-color: #333;
        color: white;
      }

      #post pre.terminal code {
        background-color: #333;
      }

      #related {
        margin-top: 2em;
      }

      #related h2 {
        margin-bottom: 1em;
      }

      #disqus_thread {
        border-top: 1px solid #ccc;
        clear: both;
        margin-top: 40px;
        padding-top: 40px;
      }
      /* Header */
      #gravatar { 
        float: left; 
        margin-right: 15px;
      }
      #gravatar img {
        border: 7px solid #242424;
        border-radius: 100%;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
        width: 70px;

        -webkit-transition: border-radius 0.5s;
        -moz-transition: border-radius 0.5s;
        -ms-transition: border-radius 0.5s;
        -o-transition: border-radius 0.5s;
        transition: border-radius 0.5s;

      }

      #gravatar img:hover {
        border-radius: 20%;

        -webkit-transition: border-radius 0.5s;
        -moz-transition: border-radius 0.5s;
        -ms-transition: border-radius 0.5s;
        -o-transition: border-radius 0.5s;
        transition: border-radius 0.5s;

      }

      #site-title {
        clear: right;
        color: #333;
        font-size: 36px;
        font-weight: normal;
        margin-bottom: 15px;
        padding-top: 15px;
      }
      #site-title a {
        color: #333;
        text-decoration: none;
      }

      /* Description */

      .blog-description {
        color: #ccc;
        display: block;
        /* font: 16px/1.5 Helvetica, Arial, sans-serif; */
        font-style: italic;

      }

      /* Body */

      body {
        background: url(../images/lightning.png) no-repeat 860px -70px;
        color: #666666;
        margin: 0px;
        width: 760px;
      }

      /* Links & Typography */

      a {
        /* text-decoration: underline; */
      }

      a:link, a:active {
        color: #5691CD;
      }

      a:visited {
        color: #5691CD;
      }

      a:link:hover, a:active:hover, a:visited:hover {
        text-decoration: underline;
      }

      a > img {
        margin-bottom: -1px;

      }

      a.img {
        border: none;
        background: transparent !important;

      }

      blockquote {
        color: #5691CD;
        width: 500px;
        padding: 10px 10px 5px 10px;
        border-left: 3px solid #ccc;
        margin: 10px 0;
      }

      h1 { /*float: left;*/ margin-right: 20px;  }

      ol li { list-style-type: inherit;  }

      strong, b {
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizelegibility;
      }

      .post h1 { font-weight: bold; margin: 30px 0 10px; font-size: 20px  }

      .post h2 { font-weight: bold; margin: 30px 0 10px; font-size: 18px; }

      .post h3 { font-weight: bold; margin: 20px 0 10px; font-size: 16px  }

      .post h4 { font-weight: bold; margin: 20px 0 10px; font-size: 14px  }

      .post h1, .post h2 {
        line-height: 30px;
      }



      /* Menu */

      #menu {
        clear: both;
        margin-top: 30px;
        height: 50px;
        /* border-bottom: 1px solid #ccc; */
      }

      #menu a {
        display: block;
        float: left;
        margin-right: 20px;
        padding-bottom: 25px;
        text-decoration: underline;
      }

      #menu a.active {
        border-bottom: 1px solid #ccc
      }
      #menu a:hover {
        text-decoration: none;
      }


      /* Post & Page */

      .post {
        clear: both;
        margin: 0;
        border-top: 1px solid #ccc;
        width: 800px;
      }
      .post > .post:first-child {
        border-top: none;
      }

      .content {
        clear: both;
        margin: 0 0 60px 0;
        float: left;
        /* width: 920px; */

      }

      /* Archive */
      .archive {
        list-style-type: none;
        margin-left: 30px;
      }
      .archive li {
        list-style: disc;
      }

      .archive a, .archive span {
        display: block;
      }

      .date {
        font-size: 14px;
      }

      .archive-divider {
        border-top: 1px solid #ccc;
        margin-top: 0 !important;
        width: 920px;

      }

      .divider_0 {
        margin-top: 50px;

      }

      .title {
        margin-bottom: 15px

      }

      .title h3 { 
        color: #5691CD;
        font-size: 22px; 
        font-weight: bold;
        padding: 20px 0 0 0;
      }

      .title h3 a {
        text-decoration: none !important;
      }

      .title h3 a:hover {
        text-decoration: underline !important;
      }


      .body-post {
        float: left;
        margin-left: 100px;
        width: 600px;
      }
      .body-post ul, .body-post ol {
        margin-bottom: 20px;
        margin-left: 30px;
      }

      .body-page {
        /* font: 14px/1.5 Helvetica, Arial, sans-serif; */

      }

      .body-post img, .body-page img, p img {
        max-width: 600px;
        height: auto;
        display: block;
        margin-right: 20px;
        margin-bottom: 20px

      }

      .body-post p, .body-page p {
        margin-top: 0;
        /* width: 500px; */

      }

      .body-post li, .body-page li {
        margin-top: 0;
        /* width: 500px; */

      }

      .footnotes { margin-top: 30px;  }
      .footnotes p { font-size: 14px;  }

      .meta {
        width: 110px;
        float: left;
        margin-top: 2px;
        padding: 0;

      }

      .introduction {
        border-top: 1px solid #ccc;
        float: left;
        margin-top: -0.1em;
        padding: 1.5em 0 .5em;
        width: 110px;
        margin-right: 85px;

      }


      code {
        max-width: 700px;
      }

      ul.tags {
        width: 600px;
        margin: 30px 0 20px 0;
        padding: 20px 0;

      }


      ul.tags li {
        list-style: none;

      }

      ul.tags li a {
        background-color: #cdcdcd;
        border-radius: 5px;
        color: #fff;
        margin: 0 15px 15px 0; 
        padding: 2px 10px;
        float: left; 
        /* font-family: Helvetica, Arial, sans-serif; */
        font-size: 12px; 
        text-decoration: none;

      }

      ul.tags li a:hover {background-color: #bbb; color: #333; }


      /* Lists */


li {
  margin-top: 20px;
  margin-bottom: 0;

}


/* Share buttons */

.share-buttons {
  border-top: 1px solid #ccc; 
  margin: 20px 0;
  padding: 20px 0;

}

.share-buttons > .share-facebook, .share-buttons > .share-twitter, .share-buttons > .share-gplus {
  opacity: .5;

}


.share-buttons:hover > .share-facebook, .share-buttons:hover > .share-twitter, .share-buttons:hover > .share-gplus {
  opacity: 1

}

.share-twitter, .share-gplus {
  float: left;

}
.share-facebook {
  margin-right: 25px;
  float: left;

}

/* Tags list */
.tags-list {
  border-bottom: 1px solid #ccc;
  padding-left: 30px;
  padding-bottom: 20px;
}

#fork-me {
  position: fixed;
  right: 0;
  top: 0;
}

/* Pagination */
.pagination{
  clear: both;
  height:36px;
  margin:18px 0;
}
.pagination ul{
  float:left;margin:0;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
 
  /* -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.05); */
  /* -moz-box-shadow:0 1px 2px rgba(0,0,0,0.05); */
  /* box-shadow:0 1px 2px rgba(0,0,0,0.05); */

  width: 100%;
}
.pagination li{display:inline;}
.pagination a{
  float:left;
  /* padding:0 14px; */
  line-height:34px;
  text-decoration:none;
}
.pagination .active a{color: black;}
.pagination .disabled a,.pagination .disabled a:hover{background-color:transparent;color:#bfbfbf;}
.pagination .next a{border:0; float: right;}
.pagination .prev a{border:0; float: left;}

/* prettify */
pre code {
  /* for github bg  */
  /* background-color:#f8f8f8;   */
  /* background-color:#333;  for pygements-monokai.css */
  background-color:#000;
  display:block;
  padding: 20px 10px;
  margin: 30px 0;
  line-height:18px;
  font-family: "Menlo", Bitstream Vera Sans Mono, Monaco, Courier New, monospace;
  font-size:14px;

  white-space:pre;
  white-space:pre-wrap;
  word-wrap:break-word;

  -webkit-border-radius:0;
  -moz-border-radius:0;
  -ms-border-radius:0;
  -o-border-radius:0;
  border-radius:0;

  border: 1px solid #000;

  margin-left: -142px;
  padding-left: 142px;
  width: 690px;
}
.highlight { background-color: transparent; }
.highlight .c1 { color: #777; }
